/*-------------------------*\
 propriedades customizadas
\*-------------------------*/

:root{

    --rosa : #B18F8F;
    --rosa2 : #E1C7C7;
    --amarelo : #C08A01;
    --cinza : #847F7F;
    --preto : #000000;
    
    /*Tipografia*/
    
    --ff-gidugu: "Gidugu", sans-serif;
    --ff-epilogue: "Epilogue", sans-serif;
    --ff-gideon-roman: "Gideon Roman", serif;
    --ff-inter: "Inter", sans-serif;
    --ff-Euphoria_Script: "Euphoria Script", cursive;
    --ff-bitter: "Bitter", serif;
    --ff-Josefin_Sans: "Josefin Sans", sans-serif;
    
    
    --fs-40: 4rem;/*4x16 - 16=px*/
        --fs-30: 3rem;
        --fs-24: 2.4rem;
        --fs-18: 1.8rem;
        --fs-14: 1.4rem;
        --fs-12: 1.3rem;
    
        --fw-300: 300;
        --fw-500: 500;
        --fw-600: 600;
        --fw-700: 700;
    
    
    }
    
    /*reset*/
    
    
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    li {
        list-style: none;
    }
    
    a,
    img,
    span,
    data,
    input,
    button,
    textarea,
    icon-icon {
        display: block;
    }
    
    a {
        color: inherit;
    
    }
    
    a {
        text-decoration: none;
    }
    
    
    img {
        height: auto;
    }
    
    input,
    select,
    textarea {
        background: none;
        border: none;
        font: inherit
    }
    
    input,
    select,
    textarea {
        width: 100%;
    }
    
    
    html {
        font-family: var(--ff-epilogue);
        font-size: 10px;
        scroll-behavior: smooth;
    }
    
    body {
        background-color: whitesmoke;
        color: #1E1E1E;
        font-size: 1.6rem;
        line-height: 2;
       
    
    }
    
    
    button {
        cursor: pointer;
    }
    
    
    
    :focus-visible {
        outline-offset: 4px;
    }
    
    ::-webkit-scrollbar {
        width: 10px;
    
    }
    
    ::-webkit-scrollbar-track {
        background-color: hsl(0, 4%, 91%);
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: var(--rosa2);
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--rosa);
    }
    
    /*-------------------------*\
     HEADER
    \*-------------------------*/
    
    
.header {
    position: sticky;        
    top: 0;                  
    z-index: 1000;          
    background-color: white;
    transition: all 0.3s ease; 
    box-shadow: none;      
    border-radius: 0px 0px 40px 40px; 
  }


  .header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.1); 
    transition: height 0.3s ease;
  }
  
 
  body:has(main:hover) .header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

 
/*logo*/
nav img{
    width: 130px;
    height: 130px;
    margin-left: 70px;
    
}


.nav-toggle-btn{
    color: #847F7F;
    background-color: transparent;
    display: block;
    font-size: 40px;
    border: none;
    margin-left: 20px;
       
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    font-family: var(--ff-gidugu);
    font-size: var(--fs-24);
    color: #847F7F;
    padding: 15px;
    text-shadow: 2px 2px 4px rgba(75, 75, 75, 0.3);
    
   
}

.navbar-header a{
    color: #847F7F;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    
}

.navbar-header a:focus,
li :hover {
  color: #B18F8F;
}

.navbar-header a:focus:after,
.navbar-header a:hover:after {
  width: 100%;
  left: 0%;
}

.navbar-header a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #B18F8F;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}




.navbar-item{
    gap: 25px;
}


 /* Sidebar Menu*/

.menu {
  position: fixed;
  top: 0;
  left: -450px;
  width: 450px;
  height: 100%;
  background-color: #F3F1F1;
  z-index: 2000;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: left 0.3s ease;
  overflow-y: auto;
  border-radius: 0px 20px 20px 0px;
  
}

.menu.active {
  left: 0;
}

.start-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-family: var(--ff-Josefin_Sans);
  color: var(--rosa);
  text-shadow: 2px 2px 4px rgba(75, 75, 75, 0.3);
}

.menu .close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: all ease 0.1s;
}

 .close-btn:active {
  transform: translateY(5px);
 
}


.menu_options ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
   
}


.menu_options li {
  margin: 10px 0;
  font-size: 2rem;
 
 
}

.menu_options a {
  color: #847F7F;
  font-weight: 600;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    
}


.menu_options li:focus,
a:hover {
  color: var(--rosa);
  
}

.menu_options a:focus:after,
.menu_options a:hover:after {
  width: 100%;
  left: 0%;
  
} 

.menu_options a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #B18F8F;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


.sub_options h3 a {
 
  text-decoration: none;
  font-family: var(--ff-inter);
  color: var(--amarelo);
  margin-bottom: 5px;
  letter-spacing: 0.4rem;
  transition: transform 0.3s ease, color 0.3s ease;
}


.sub_options h3 a:hover{
    color: #a17507;
    transform: scale(1.05);
}





/* Sidebar carrinho */


.cartcarrinho {
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100%;
  background-color: #F3F1F1;
  z-index: 2000;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: right 0.3s ease;
  overflow-y: auto;
  border-radius: 20px 0px 0px 20px;
}

.cartcarrinho.active {
  right: 0;
}

.start-carrinho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.cartcarrinho .close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: all ease 0.1s;
}

.cart-item {
  margin-top: 40px;
  display: flex;
  margin-bottom: 20px;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 20px;
}


.start-carrinho h2{
  font-size: 2.8rem;
  color: var(--amarelo);
  font-family: var(--ff-Josefin_Sans);
}

.product-details p{
  font-family: var(--ff-inter);
  margin-bottom: 5px;
  color: #333;
  font-size: 1.4rem;
  margin-left: 20px;
}

.product-details h3 {
    font-family: var(--ff-inter);
    color: #333;
    font-size: 1.3rem;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

.quantity-controls {
  display: flex;
  align-items: center;
  background-color: var(--rosa);
  max-width: 150px;
  justify-content: center;
  margin-left: 20px;
  border-radius: 20px;
  margin-top: 10px;
}

.quantity-controls button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin: 0 20px;
}

.quantity-controls img {
  width: 20px;
}

.hr-carrinho {
    margin-top: 470px;
    height: 1px; 
    background-color: #333; 
    border: none; 
  }


.subtotal {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: auto;
  padding: 10px;
}

.subtotal p,
.subtotal h3 {
  font-family: var(--ff-Josefin_Sans);
  font-size: var(--fs-14);
}

.subtotal p {
  color: var(--amarelo);
  font-size: 2.6rem;
}

.subtotal h3 {
  color: var(--rosa);
  text-shadow: 2px 2px 3px rgba(88, 88, 88, 0.5);
  font-size: 2rem;
}



.finalize-btn {
  
  background-color: #fff;
  color: var(--rosa);
  border: none;
  padding: 10px;
  font-size: 1.9rem;
  width: 400px;
  cursor: pointer;
  margin-top: 40px;
  border-radius: 5px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  box-shadow: 2px 2px 2px 4px rgba(145, 144, 144, 0.5);
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
}


.finalize-btn span{
  margin-right: auto;
  margin-left: auto;
}

.finalize-btn:hover {

  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
}


.finalize-btn:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}



/* Sidebar login */

.login {
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100%;
  background-color: #F3F1F1;
  z-index: 2000;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px 0px 0px 20px;
  transition: right 0.3s ease;
  justify-content: center;      
  align-items: center; 
  overflow-y: auto;
  
}

.login.active {
  right: 0;
}


  .login h2 {
    font-size: 4rem;
    color: var(--rosa);
    font-family: var(--ff-Josefin_Sans);
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
  }



  .login .close-btn{
    margin-top: 20px;
    margin-left: 5px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: all ease 0.1s;
  }





.login-container {
  
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}


.login-container label {
  display: block;
  margin-top: 15px;
}

.login-container input {
  width: 100%;
  padding: 2px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 2px solid #404040; 
  border-radius: 20px;
  background-color: transparent;
  transition: all 0.3s ease;
  color: #9e7202;
  caret-color: #94555f;
}


.login-container input:is(:hover, :focus) {
    border: 2px solid var(--rosa);
    
}

input:focus,
textarea:focus {
  outline: none;
}

.login-container button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: var(--rosa);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0ms;
  }
  
  .login-container button:hover {
    box-shadow: 0px 0px 20px -18px;
    box-shadow: 0 0 10px rgba(179, 120, 120, 0.6);
  }
  
  .login-container button:active {
    transform: scale(0.95);
  }





  

/* Estilo geral da mensagem */
#login-message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  display: none; /* Inicialmente escondida */
}

/* Estilo para mensagens de erro */
#login-message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

/* Estilo para mensagens de sucesso */
#login-message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

/* Classe para esconder a mensagem */
.hidden {
  display: none;
}




.esqueci-senha {
    padding-bottom: 25px;
    color: var(--amarelo);
    margin-top: 30px;
    text-align: center;
    justify-content: center;
  
}

.esqueci-senha{
    color: var(--amarelo);
    transition: .25s ease;
}

.esqueci-senha:is(:hover, :focus) {
    color: var(--rosa);
    text-shadow: -5px 0px 15px rgba(0, 0, 0, 0.1) ;
 }

.cadastrar {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.cadastre_se{
    color: var(--amarelo);
    transition: .25s ease;
    text-align: center;
}

.cadastre_se:is(:hover, :focus) {
    color: var(--rosa);
 }


/*  SIDEBAR USUARIOS */



.user-sidebar {
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100%;
  background-color: #F3F1F1;
  z-index: 2000;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px 0px 0px 20px;
  transition: right 0.3s ease;
  justify-content: center;      
  align-items: center; 
  overflow-y: auto;
  
}

.user-sidebar.active {
  right: 0;
}


  .user-sidebar h2 {
    font-size: 4rem;
    color: var(--rosa);
    font-family: var(--ff-Josefin_Sans);
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
  }



  .user-sidebar .close-btn{
    margin-top: 20px;
    margin-left: 5px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: all ease 0.1s;
  }


  .usuario-container {
  
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}


.usuario-container label {
  display: block;
  margin-top: 15px;
}

.usuario-container input {
  width: 100%;
  padding: 2px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 2px solid #404040; 
  border-radius: 20px;
  background-color: transparent;
  transition: all 0.3s ease;
  color: #9e7202;
  caret-color: #94555f;
}


.usuario-container input:is(:hover, :focus) {
    border: 2px solid var(--rosa);
    
}


.usuario-container button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: var(--rosa);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0ms;
  }
  
  .usuario-container button:hover {
    box-shadow: 0px 0px 20px -18px;
    box-shadow: 0 0 10px rgba(179, 120, 120, 0.6);
  }
  
  .usuario-container button:active {
    transform: scale(0.95);
  }



#logoutBtn {
  margin-top: 350px;
  width: 100%;
  padding: 10px;
  background-color: var(--amarelo);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0ms;
  }
  

#logoutBtn:hover {
    box-shadow: 0px 0px 20px -18px;
    box-shadow: 0 0 10px #9e7202;
  }
  
  #logoutBtn:active {
    transform: scale(0.95);
  }





 /* Sidebar Cadastro */


 .cadastrarSidebar{
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100%;
  background-color: #F3F1F1;
  z-index: 2000;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px 0px 0px 20px;
  transition: right 0.3s ease;
  justify-content: center;      
  align-items: center; 
  overflow-y: auto;
 }

.cadastrarSidebar.active {
  right: 0;
}


.cadastrarSidebar h2 {
    font-size: 4rem;
    color: var(--rosa);
    font-family: var(--ff-Josefin_Sans);
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
  }



  .cadastrarSidebar .close-btn{
    margin-top: 20px;
    margin-left: 5px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: all ease 0.1s;
  }


  .cadastro-container {
    
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }

  .cadastro-container input {
    width: 320px;
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #404040; 
    border-radius: 20px;
    background-color: transparent;
    transition: all 0.3s ease;
    color: #9e7202;
    caret-color: #94555f;
    
    
  
  }


  .cadastro-container input::placeholder {
    letter-spacing: 0.1em; 
    color: #1E1E1E;
    font-family: var(--ff-inter);
   
 } 



  .cadastro-container input:is(:hover, :focus) {
      border: 2px solid var(--rosa);
      
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  .cadastro-container button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: var(--rosa);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0ms;
    }
  
  

    .cadastro-container button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: var(--rosa);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0ms;
    }
  
  .cadastro-container button:hover {
    box-shadow: 0px 0px 20px -18px;
    box-shadow: 0 0 10px rgba(179, 120, 120, 0.6);
  }
  
  .cadastro-container button:active {
    transform: scale(0.95);
  }




/*conteudo da página*/



    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 90px;
        align-items: center;
      }
      
      .galeria-container {
        display: flex;
        align-items: center;
        gap: 200px;
      }
      
      .galeria {
        display: flex;
        flex-direction: row;
        gap: 20px;
        
      }
      
      .miniaturas {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      
      .miniaturas img,
      .imagem-principal img {
        width: 80px;
        height: auto;
        border-radius: 5px;
      }
      
      .imagem-principal img {
        width: 300px;
      }
      
      .informacoes {
        flex: 1;
        margin-left: 100px;
        
      }
      
      .informacoes h2 {
        font-size: 2.5rem;
        margin-bottom: 10px;
        font-family: var(--ff-gideon-roman);
        text-align: center;
       
      }
      

      .preco {
        font-size: 1.6rem;
        font-family: var(--ff-inter);
        font-weight: bold;
        text-align: center;
      }
      
      .parcelamento {
        color: #555;
        margin-bottom: 1rem;
        text-align: center;
        font-family: var(--ff-inter);
      }
      
      .tamanho-label {
        font-weight: bold;
        margin-top: 1.2rem;
        text-align: center;
      }
      
        .tamanhos {
        display: flex;
        gap: 20px;
        margin: 0.5rem 0;
        justify-content: center;
        }

        .tamanhos button {
        padding: 10px 10px;
        border: none;
        color: #fff;
        background: var(--rosa);
        cursor: pointer;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ;
        margin: auto;
        }

        .checkbox-group {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        }

        .checkbox-group input[type="radio"] {
        display: none;
        }

        .checkbox-group label {
        font-family: var(--ff-inter);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        padding: 10px 10px;
        border: 1px solid var(--rosa);
        background: white;
        font-size: 1.5rem;
        cursor: pointer;
        transition: background-color 0.3s, border 0.3s;
        }

        .checkbox-group input[type="radio"]:checked + label {
        background-color: var(--rosa);
        color: #fff;
        }

        button:disabled {
        border: 1px solid var(--rosa);
        background: white;
        color: #555;
        cursor: not-allowed;
        }


      
      .botao-carrinho {
        margin-top: 20px;
        padding: 10px 15px;
        background-color: var(--rosa);
        color: #fff;
        border: none;
        align-items: center;
        justify-content: center;
        margin-left: 105px;
        animation: button-shimmer 2s infinite;
        transition: all 0.3s ease-in-out;
      }
      

        .botao-carrinho:hover {

        animation: button-particles 1s ease-in-out infinite;
        transform: translateY(-2px);
        }


        .botao-carrinho:active {
        transform: scale(0.95);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        }


        @keyframes button-shimmer {
        0% {
        background-position: left top;
        }

        100% {
        background-position: right bottom;
        }
        }


        @keyframes button-particles {
        0% {
        background-position: left top;
        }

        100% {
        background-position: right bottom;
        }
        }



      .descricao {
        margin-top: 50px;
        margin: 80px;
       
      }
      
      .descricao h3 {
        margin-bottom: 30px;
        font-family: var(--ff-inter);
        letter-spacing: 0.2rem;
        font-size: 2.5rem;
      }
      
      .descricao p,
      .descricao ul {
        margin-bottom: 20px;
        font-size: 1.8rem;
        line-height: 1.5;
      }
      
      .descricao ul {
        padding-left: 1.2rem;
        list-style-type: disc;
      }
      
      .obs {
        font-size: 0.85rem;
      }
      
      .descricao a {
        color: var(--amarelo);
        text-decoration: none;
      }
      

    
    /*-------------------------*\
     FOOTER
    \*-------------------------*/
    
    footer {
        background-color: #D9D9D9;
        color: #333;
        margin-top: 50px;
    }
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        padding-left: 200px;
    }
    
    .informacoes, .atendimentos, .redes-sociais {
        width: 30%;
    }
    
    .footer-content h3 {
        margin-bottom: 10px;
        font-size: 18px;
    }
    
    
    .formas-pagamento {
        text-align: center;
        margin-bottom: 20px;
        display: flex;
    }
    
    .pagamentos-text{
        margin-top: 20px;
    }
    
    .formas-pagamento{
        padding-left: 180px;
    }
    
    .formas-pagamento img {
        margin-left: 20px;
        width: auto;
        height: 40px;
    }
    
    .iconis-footer{
        display: flex;
        height: 35px;
        margin-right: 10px;
        gap: 10px;
      
    }
    
    .footer-bottom {
        background-color: var(--rosa);
        padding: 10px;
        text-align: center;
        font-size: 14px;
        color: #000;
        letter-spacing: 0.1em; 
        font-weight: var(--fw-500);
    }
    
    
    
    .back-top-btn {
        display: none;
    }
    
    

    
    
    
    
    
    
    @media screen and (max-width: 480px) {
    :root{
      --fs-40: 2.5rem;
      --fs-30: 1.8rem;
      --fs-24: 1.5rem;
      --fs-18: 1.0rem;
      --fs-14: 1.0rem;
      --fs-12: 1.0rem;
    }

    nav img{
        width: 120px;
        height: 120px;
        margin-left: 30px;
        
    }
    

    .navbar-link{
        display: none;
    
    
    }


    .navbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        font-size: var(--fs-30);
        padding: 10px;
       
    }

    .nav-toggle-btn{
        font-size: 30px;
        left: 20px;
        
    }

    /*-------------------------*\
            Imagem
    \*-------------------------*/

    .imagem-principal img {
        width: 100%;
        height: auto;
        margin: 0 auto; /* Centraliza a imagem */
    }
    .galeria-container {
        flex-direction: column; /* Altera a direção para coluna */
        align-items: center; /* Centraliza os itens */
        gap: 20px; /* Espaçamento entre os itens */
    }

    .informacoes {
        margin-left: 0; /* Remove a margem esquerda */
        text-align: center; /* Centraliza o texto */
        padding: 0 20px; /* Adiciona um pouco de padding */
        width: 100%; /* Garante que ocupe toda a largura disponível */
        box-sizing: border-box; /* Inclui padding na largura total */
    }

    .descricao {
        margin: 20px; /* Reduz a margem */
        padding: 0 20px; /* Adiciona padding para espaçamento interno */
    }

    /*-------------------------*\
     FOOTER
    \*-------------------------*/
    
    footer {
      background-color: #D9D9D9;
      color: #333;
   
  }
  
  
  .footer-content {
      display: flex;
      justify-content: space-between;
      padding: 20px;
  
      padding-left: 25px;
  }
  
  .informacoes, .atendimentos, .redes-sociais {
      width: 30%;
  }
  
  .footer-content h3 {
      margin-bottom: 10px;
      font-size: var(--fs-24);
  }
  
  
  .formas-pagamento {
      text-align: center;
      margin-bottom: 20px;
      display: flex;
  }
  
  .pagamentos-text{
      margin-top: 15px;
  }
  
  .formas-pagamento{
  
      padding-left: 10px;
  }
  
  .formas-pagamento img {
      margin-left: 20px;
      width: auto;
      height: 30px;
  }
  
  .iconis-footer{
      display: flex;
      height: 30px;
      margin-right: 0px;
      gap: 10px;
    
  }
  
  .footer-bottom {
      background-color: var(--rosa);
      padding: 10px;
      text-align: center;
      font-size: var(--fs-18);
      color: #000;
      letter-spacing: 0.1em; 
      
  }



}
@media screen and (min-width:768px) and (max-width: 991px){
    :root{
        --fs-40: 2.5rem;
        --fs-30: 1.8rem;
        --fs-24: 1.5rem;
        --fs-18: 1.0rem;
        --fs-14: 1.0rem;
        --fs-12: 1.0rem;
      }
    
      nav img{
          width: 120px;
          height: 120px;
          margin-left: 30px;
          
      }
    
      .navbar-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            font-size: var(--fs-30);
            padding: 20px;
      }
    
      .nav-toggle-btn{
          font-size: 30px;
          left: 20px;
          
      }

         /*-------------------------*\
            Imagem
        \*-------------------------*/
    .imagem-principal img {
        width: 100%;
        height: auto;
        margin: 0 auto; /* Centraliza a imagem */

    }
    .galeria-container {
        flex-direction: column; /* Altera a direção para coluna */
        align-items: center; /* Centraliza os itens */
        gap: 20px; /* Espaçamento entre os itens */
    }

    .informacoes {
        margin-left: 0; /* Remove a margem esquerda */
        text-align: center; /* Centraliza o texto */
        padding: 0 20px; /* Adiciona um pouco de padding */
        width: 100%; /* Garante que ocupe toda a largura disponível */
        box-sizing: border-box; /* Inclui padding na largura total */
    }
    

    .descricao {
        margin: 20px; /* Reduz a margem */
        padding: 0 20px; /* Adiciona padding para espaçamento interno */
    }

    .botao-carrinho {
        width: 100%; /* Faz o botão ocupar toda a largura disponível */
        padding: 15px; /* Aumenta o padding para um botão mais espaçoso */
        font-size: 1.6rem; /* Aumenta o tamanho da fonte */
        margin-left: 0; /* Remove a margem esquerda */
        border-radius: 20px;
    }

   /*-------------------------*\
 FOOTER
\*-------------------------*/

footer {
  background-color: #D9D9D9;
  color: #333;

}


.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  padding-left: 25px;
}

.informacoes, .atendimentos, .redes-sociais {
  width: 30%;
}

.footer-content h3 {
  margin-bottom: 10px;
  font-size: var(--fs-24);
}


.formas-pagamento {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
}

.pagamentos-text{
  margin-top: 15px;
}

.formas-pagamento{

  padding-left: 10px;
}

.formas-pagamento img {
  margin-left: 20px;
  width: auto;
  height: 30px;
}

.iconis-footer{
  display: flex;
  height: 30px;
  margin-right: 0px;
  gap: 10px;

}

.footer-bottom {
  background-color: var(--rosa);
  padding: 10px;
  text-align: center;
  font-size: var(--fs-18);
  color: #000;
  letter-spacing: 0.1em; 
  
}
   

}
    
    
    
    
    
    