/*-------------------------*\
 propriedades customizadas
\*-------------------------*/

:root{

    --rosa : #B18F8F;
    --rosa2 : #E1C7C7;
    --amarelo : #C08A01;
    --cinza : #847F7F;
    --preto : #000000;
    
    /*Tipografia*/
    
    --ff-gidugu: "Gidugu", sans-serif;
    --ff-epilogue: "Epilogue", sans-serif;
    --ff-gideon-roman: "Gideon Roman", serif;
    --ff-inter: "Inter", sans-serif;
    --ff-Euphoria_Script: "Euphoria Script", cursive;
    --ff-bitter: "Bitter", serif;
    --ff-Josefin_Sans: "Josefin Sans", sans-serif;
    
    
    --fs-40: 4rem;/*4x16 - 16=px*/
        --fs-30: 3rem;
        --fs-24: 2.4rem;
        --fs-18: 1.8rem;
        --fs-14: 1.4rem;
        --fs-12: 1.3rem;
    
        --fw-300: 300;
        --fw-500: 500;
        --fw-600: 600;
        --fw-700: 700;
    
    
    }
    
    /*reset*/
    
    
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    li {
        list-style: none;
    }
    
    a,
    img,
    span,
    data,
    input,
    button,
    textarea,
    icon-icon {
        display: block;
    }
    
    a {
        color: inherit;
    
    }
    
    a {
        text-decoration: none;
    }
    
    
    img {
        height: auto;
    }
    
    input,
    select,
    textarea {
        background: none;
        border: none;
        font: inherit
    }
    
    input,
    select,
    textarea {
        width: 100%;
    }
    
    
    html {
        font-family: var(--ff-epilogue);
        font-size: 10px;
        scroll-behavior: smooth;
    }
    
    body {
        background-color: whitesmoke;
        color: #1E1E1E;
        font-size: 1.6rem;
        line-height: 2;
       
    
    }
    
    
    button {
        cursor: pointer;
    }
    
    
    
    :focus-visible {
        outline-offset: 4px;
    }
    
    ::-webkit-scrollbar {
        width: 10px;
    
    }
    
    ::-webkit-scrollbar-track {
        background-color: hsl(0, 4%, 91%);
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: var(--rosa2);
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--rosa);
    }
    
    /*-------------------------*\
 HEADER
\*-------------------------*/



.header {
    position: sticky;        
    top: 0;                  
    z-index: 1000;          
    background-color: white;
    transition: all 0.3s ease; 
    box-shadow: none;      
    border-radius: 0px 0px 40px 40px; 
  }


  .header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.1); 
    transition: height 0.3s ease;
  }
  
 
  body:has(main:hover) .header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

 
/*logo*/
nav img{
    width: 130px;
    height: 130px;
    margin-left: 70px;
    
}


.nav-toggle-btn{
    color: #847F7F;
    background-color: transparent;
    display: block;
    font-size: 40px;
    border: none;
    margin-left: 20px;
       
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    font-family: var(--ff-gidugu);
    font-size: var(--fs-24);
    color: #847F7F;
    padding: 15px;
    text-shadow: 2px 2px 4px rgba(75, 75, 75, 0.3);
    
   
}

.navbar-header a{
    color: #847F7F;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    
}

.navbar-header a:focus,
li :hover {
  color: #B18F8F;
}

.navbar-header a:focus:after,
.navbar-header a:hover:after {
  width: 100%;
  left: 0%;
}

.navbar-header a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #B18F8F;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}




.navbar-item{
    gap: 25px;
}


 /* Sidebar Menu*/

.menu {
  position: fixed;
  top: 0;
  left: -450px;
  width: 450px;
  height: 100%;
  background-color: #F3F1F1;
  z-index: 2000;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: left 0.3s ease;
  overflow-y: auto;
  border-radius: 0px 20px 20px 0px;
  
}

.menu.active {
  left: 0;
}

.start-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-family: var(--ff-Josefin_Sans);
  color: var(--rosa);
  text-shadow: 2px 2px 4px rgba(75, 75, 75, 0.3);
}

.menu .close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: all ease 0.1s;
}

 .close-btn:active {
  transform: translateY(5px);
 
}


.menu_options ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
   
}


.menu_options li {
  margin: 10px 0;
  font-size: 2rem;
 
 
}

.menu_options a {
  color: #847F7F;
  font-weight: 600;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    
}


.menu_options li:focus,
a:hover {
  color: var(--rosa);
  
}

.menu_options a:focus:after,
.menu_options a:hover:after {
  width: 100%;
  left: 0%;
  
} 

.menu_options a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #B18F8F;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


.sub_options h3 a {
 
  text-decoration: none;
  font-family: var(--ff-inter);
  color: var(--amarelo);
  margin-bottom: 5px;
  letter-spacing: 0.4rem;
  transition: transform 0.3s ease, color 0.3s ease;
}


.sub_options h3 a:hover{
    color: #a17507;
    transform: scale(1.05);
}





/* Sidebar carrinho */


.cartcarrinho {
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100%;
  background-color: #F3F1F1;
  z-index: 2000;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: right 0.3s ease;
  overflow-y: auto;
  border-radius: 20px 0px 0px 20px;
}

.cartcarrinho.active {
  right: 0;
}

.start-carrinho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.cartcarrinho .close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: all ease 0.1s;
}

.cart-item {
  margin-top: 40px;
  display: flex;
  margin-bottom: 20px;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 20px;
}


.start-carrinho h2{
  font-size: 2.8rem;
  color: var(--amarelo);
  font-family: var(--ff-Josefin_Sans);
}

.product-details p{
  font-family: var(--ff-inter);
  margin-bottom: 5px;
  color: #333;
  font-size: 1.4rem;
  margin-left: 20px;
}

.product-details h3 {
    font-family: var(--ff-inter);
    color: #333;
    font-size: 1.3rem;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

.quantity-controls {
  display: flex;
  align-items: center;
  background-color: var(--rosa);
  max-width: 150px;
  justify-content: center;
  margin-left: 20px;
  border-radius: 20px;
  margin-top: 10px;
}

.quantity-controls button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin: 0 20px;
}

.quantity-controls img {
  width: 20px;
}

.hr-carrinho {
    margin-top: 470px;
    height: 1px; 
    background-color: #333; 
    border: none; 
  }


.subtotal {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: auto;
  padding: 10px;
}

.subtotal p,
.subtotal h3 {
  font-family: var(--ff-Josefin_Sans);
  font-size: var(--fs-14);
}

.subtotal p {
  color: var(--amarelo);
  font-size: 2.6rem;
}

.subtotal h3 {
  color: var(--rosa);
  text-shadow: 2px 2px 3px rgba(88, 88, 88, 0.5);
  font-size: 2rem;
}



.finalize-btn {
  
  background-color: #fff;
  color: var(--rosa);
  border: none;
  padding: 10px;
  font-size: 1.9rem;
  width: 400px;
  cursor: pointer;
  margin-top: 40px;
  border-radius: 5px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  box-shadow: 2px 2px 2px 4px rgba(145, 144, 144, 0.5);
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
}


.finalize-btn span{
  margin-right: auto;
  margin-left: auto;
}

.finalize-btn:hover {

  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
}


.finalize-btn:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}



/* Sidebar login */

.login {
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100%;
  background-color: #F3F1F1;
  z-index: 2000;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px 0px 0px 20px;
  transition: right 0.3s ease;
  justify-content: center;      
  align-items: center; 
  overflow-y: auto;
  
}

.login.active {
  right: 0;
}


  .login h2 {
    font-size: 4rem;
    color: var(--rosa);
    font-family: var(--ff-Josefin_Sans);
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
  }



  .login .close-btn{
    margin-top: 20px;
    margin-left: 5px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: all ease 0.1s;
  }





.login-container {
  
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}


.login-container label {
  display: block;
  margin-top: 15px;
}

.login-container input {
  width: 100%;
  padding: 2px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 2px solid #404040; 
  border-radius: 20px;
  background-color: transparent;
  transition: all 0.3s ease;
  color: #9e7202;
  caret-color: #94555f;
}


.login-container input:is(:hover, :focus) {
    border: 2px solid var(--rosa);
    
}

input:focus,
textarea:focus {
  outline: none;
}

.login-container button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: var(--rosa);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0ms;
  }
  
  .login-container button:hover {
    box-shadow: 0px 0px 20px -18px;
    box-shadow: 0 0 10px rgba(179, 120, 120, 0.6);
  }
  
  .login-container button:active {
    transform: scale(0.95);
  }


#mensagem {
  margin-top: 15px;
  color: red;
}




.esqueci-senha {
    padding-bottom: 25px;
    color: var(--amarelo);
    margin-top: 30px;
    text-align: center;
    justify-content: center;
  
}

.esqueci-senha{
    color: var(--amarelo);
    transition: .25s ease;
}

.esqueci-senha:is(:hover, :focus) {
    color: var(--rosa);
    text-shadow: -5px 0px 15px rgba(0, 0, 0, 0.1) ;
 }

.cadastrar {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.cadastre_se{
    color: var(--amarelo);
    transition: .25s ease;
    text-align: center;
}

.cadastre_se:is(:hover, :focus) {
    color: var(--rosa);
 }




 /* Sidebar Cadastro */


 .cadastrarSidebar{
  position: fixed;
  top: 0;
  right: -450px;
  width: 450px;
  height: 100%;
  background-color: #F3F1F1;
  z-index: 2000;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px 0px 0px 20px;
  transition: right 0.3s ease;
  justify-content: center;      
  align-items: center; 
  overflow-y: auto;
 }

.cadastrarSidebar.active {
  right: 0;
}


.cadastrarSidebar h2 {
    font-size: 4rem;
    color: var(--rosa);
    font-family: var(--ff-Josefin_Sans);
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
  }



  .cadastrarSidebar .close-btn{
    margin-top: 20px;
    margin-left: 5px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: all ease 0.1s;
  }


  .cadastro-container {
    
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }

  .cadastro-container input {
    width: 320px;
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #404040; 
    border-radius: 20px;
    background-color: transparent;
    transition: all 0.3s ease;
    color: #9e7202;
    caret-color: #94555f;
    
    
  
  }


  .cadastro-container input::placeholder {
    letter-spacing: 0.1em; 
    color: #1E1E1E;
    font-family: var(--ff-inter);
   
 } 



  .cadastro-container input:is(:hover, :focus) {
      border: 2px solid var(--rosa);
      
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  .cadastro-container button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: var(--rosa);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0ms;
    }
  
  

    .cadastro-container button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: var(--rosa);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0ms;
    }
  
  .cadastro-container button:hover {
    box-shadow: 0px 0px 20px -18px;
    box-shadow: 0 0 10px rgba(179, 120, 120, 0.6);
  }
  
  .cadastro-container button:active {
    transform: scale(0.95);
  }

    
    
    /*-------------------------*\
     BARRA DE PESQUISA
    \*-------------------------*/
    
    
    .pesquisa{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        margin-top: 30px;
    }
    
    
    
    .input-group {
        display: flex;
        align-items: center;
        background-color: var(--rosa2);
        padding: 8px 16px 8px 8px;
        border-radius: 24px;
        gap: 8px;
        width: 70%;
        height: 40px;
      
       
        
    }
    
    /* Ícone do input de pesquisa */
    .input-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 32px;
        min-height: 32px;
        border-radius: 100%;
        color:  #1E1E1E;
        cursor: pointer;
    }
    
    /* Campo de input de pesquisa */
    .input-field {
        width: 100%;
        border: none;
        background-color: transparent;
    }
    
    
    .input-field:focus {
        outline: none;
    }
    
    input::placeholder {
        color:  #1E1E1E;
        font-family: var(--ff-epilogue);
    }
    
    
    

    /*-------------------------*\
     SEÇÃO
    \*-------------------------*/

    .namesecao{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  padding: 50px;
}

h1 {
  margin: 0 15px;
  font-family: var(--ff-Josefin_Sans);
  font-size: var(--fs-30);
  color: #1E1E1E;
  letter-spacing: 0.9rem;
  
}

.linha {
  flex-grow: 1;
  height: 1px;
  background-color: #000;
  margin: 0 100px;
  
}
    
    .container-secao {
        width: 100%;
       
        padding: 80px 0;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
    }
    
    .secao{
        display: flex;
        justify-content: center;
        gap: 100px;
        margin: 0 10%;
    }
    
    
    .circle {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out;
    }
    
    
    .circle:hover {
        
        transform: scale(1.05);
        
    }
    
    .secao h3 {
        font-family: var(--ff-gideon-roman);
        margin-top: 20px;
    }


   
    
    
    
    
/*-------------------------*\
     SEÇÃO PRODUTOS
\*-------------------------*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    min-height: 100vh;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 80px;
    width: 100%;
    justify-items: center;
}

.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;

}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.product-card p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 15px;
}

.product-card button {
    width:  100%;
    padding: 10px 20px;
    background-color: var(--rosa);
    color: white;
    letter-spacing: 0.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    margin-top: auto; 
}

.product-card button:hover {
    background-color: #a28484;
}



    
    /*-------------------------*\
     FOOTER
    \*-------------------------*/
    
    footer {
        background-color: #D9D9D9;
        color: #333;
        margin-top: 50px;
    }
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        padding-left: 200px;
    }
    
    .informacoes, .atendimentos, .redes-sociais {
        width: 30%;
    }
    
    .footer-content h3 {
        margin-bottom: 10px;
        font-size: 18px;
    }
    
    a {
        text-decoration: none;
        color: #333;
    }
    
    .formas-pagamento {
        text-align: center;
        margin-bottom: 20px;
        display: flex;
    }
    
    .pagamentos-text{
        margin-top: 20px;
    }
    
    .formas-pagamento{
        padding-left: 180px;
    }
    
    .formas-pagamento img {
        margin-left: 20px;
        width: auto;
        height: 40px;
    }
    
    .iconis-footer{
        display: flex;
        height: 35px;
        margin-right: 10px;
        gap: 10px;
      
    }
    
    .footer-bottom {
        background-color: var(--rosa);
        padding: 10px;
        text-align: center;
        font-size: 14px;
        color: #000;
        letter-spacing: 0.1em; 
        font-weight: var(--fw-500);
    }
    
    
    
    .back-top-btn {
        display: none;
    }
    
    

    
    
    
    
    
    
    @media screen and (max-width: 480px) {
        :root{
          --fs-40: 2.5rem;
          --fs-30: 1.8rem;
          --fs-24: 1.5rem;
          --fs-18: 1.0rem;
          --fs-14: 1.0rem;
          --fs-12: 1.0rem;
        }



        nav img{
        width: 120px;
        height: 120px;
        margin-left: 30px;
        
    }
    
        .navbar-link{
            display: none;
        
        
        }
    
    
        .navbar-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            font-size: var(--fs-30);
            padding: 10px;
           
        }
    
        .nav-toggle-btn{
            font-size: 30px;
            left: 20px;
            
        }
    
    /*-------------------------*\
     BARRA DE PESQUISA
    \*-------------------------*/
    
    
        .pesquisa{
            display: flex;
            justify-content: none;
            align-items: none;
            margin-bottom: 20px;
        
        }
    
    
    
        .input-group {
            display: flex;
            align-items: none;
            padding: 6px 12px 6px 6px;
            border-radius: 24px;
            gap: 3px;
            width: 60%;
            height: 35px;
            
        }
    
    
    
    
    
    /*-------------------------*\
     SEÇÃO
    \*-------------------------*/





        .namesecao{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        padding: 40px;
        }

        h1 {
        margin: 0 10px;
        font-family: var(--ff-Josefin_Sans);
        font-size: var(--fs-40);
        color: #1E1E1E;
        letter-spacing: 0.9rem;
        
        }

        .linha {
        flex-grow: 1;
        height: 1px;
        background-color: #000;
        margin: 0 15px;
        
        }
            
    
    
        .container-secao{
            margin-top: 5px;
        }
    
        .secao {
            margin-left: 110px;
            justify-content: center;   
            gap: 15px;                 
        }
    
        .secao a {
            width: 45%;                
            text-align: center;        
        }
    
        .circle {
            width: 90px;              
            height: 90px;
        }
    
        .circle img {
            width: 90px;              
            height: 90px;
        }
    
        .secao h3 {
            font-size: 13px;          
        }
    
        .secao {
            display: grid;             
            grid-template-columns: repeat(2, 1fr);  
            gap: 25px;         
        }
    






    /*-------------------------*\
     JOIAS
    \*-------------------------*/

    .product-card img {
        width: 100%;
        height: 100px;
        border-radius: 10px;
        margin-bottom: 10px;
    }


.product-grid {
    padding: 30px;
    gap: 30px;
   
}


.product-card button {
    
    letter-spacing: 0.1rem;
    
    font-size: 1rem;
    
}

    
    /*-------------------------*\
     FOOTER
    \*-------------------------*/
    
    footer {
        background-color: #D9D9D9;
        color: #333;
     
    }
    
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    
        padding-left: 25px;
    }
    
    .informacoes, .atendimentos, .redes-sociais {
        width: 30%;
    }
    
    .footer-content h3 {
        margin-bottom: 10px;
        font-size: var(--fs-24);
    }
    
    
    .formas-pagamento {
        text-align: center;
        margin-bottom: 20px;
        display: flex;
    }
    
    .pagamentos-text{
        margin-top: 15px;
    }
    
    .formas-pagamento{
    
        padding-left: 10px;
    }
    
    .formas-pagamento img {
        margin-left: 20px;
        width: auto;
        height: 30px;
    }
    
    .iconis-footer{
        display: flex;
        height: 30px;
        margin-right: 0px;
        gap: 10px;
      
    }
    
    .footer-bottom {
        background-color: var(--rosa);
        padding: 10px;
        text-align: center;
        font-size: var(--fs-18);
        color: #000;
        letter-spacing: 0.1em; 
        
    }



    /*-------------------------*\
     BACK TOP BUTTON
    \*-------------------------*/
    
    
    

    .back-top-btn {
        display: flex;
        position: fixed;
        bottom: 70px;
        right: 30px;
        background-color: var(--rosa);
        color: #fff;
        font-size: 20px;
        padding: 10px;
        border-radius: 50%;
        z-index: 4;
        transition: all 0.3s ease;
        transform: rotate(-90deg);
    }
    
    
    .back-top-btn:is(:hover, :focus) {
        color: var(--rosa2);
    }

    
    
    
    
    
    
    }
    
    
    
    
    @media (max-width:767px) {
    :root{
      --fs-40: 2.5rem;
      --fs-30: 1.8rem;
      --fs-24: 1.5rem;
      --fs-18: 1.0rem;
      --fs-14: 1.0rem;
      --fs-12: 1.0rem;
    }
  
    nav img{
        width: 120px;
        height: 120px;
        margin-left: 30px;
        
    }
  
  
  
   
  
    .navbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        font-size: var(--fs-30);
        padding: 10px;
        width: 100%
    }
  
    .nav-toggle-btn{
        font-size: 30px;
        left: 20px;
        
    }
  
  
    
    
    
  /*-------------------------*\
   SEÇÃO
  \*-------------------------*/
  .secao {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas de largura igual */
    grid-template-rows: auto auto; /* Define 2 linhas automáticas */
    gap: 15px; /* Espaçamento entre os itens */
    justify-items: center; /* Centraliza os itens horizontalmente */
    margin-left: 110px;
  }
  
  .secao a {
    width: 100%; /* Faz os links ocuparem toda a largura da célula */
    text-align: center;
  }
  
  .circle {
    width: 90px;
    height: 90px;
  }
  
  .circle img {
    width: 100%;
    height: 100%;
  }
  
  .secao h3 {
    font-size: 13px;
   margin-left: -90px;
  }

    /*-------------------------*\
     cards  
    \*-------------------------*/
.product-grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 40px;
    }

.product-card {
    max-width: 100%; /* Ajusta a largura máxima do cartão */
    width: 100%; /* Garante que o cartão ocupe toda a largura disponível */
}
.product-card img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do cartão */
    height: 200px; /* Ajusta a altura da imagem */
}

/*-------------------------*\
 FOOTER
\*-------------------------*/

footer {
    background-color: #D9D9D9;
    color: #333;
 
}


.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    padding-left: 25px;
}

.informacoes, .atendimentos, .redes-sociais {
    width: 30%;
}

.footer-content h3 {
    margin-bottom: 10px;
    font-size: var(--fs-24);
}


.formas-pagamento {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
}

.pagamentos-text{
    margin-top: 15px;
}

.formas-pagamento{

    padding-left: 10px;
}

.formas-pagamento img {
    margin-left: 20px;
    width: auto;
    height: 30px;
}

.iconis-footer{
    display: flex;
    height: 30px;
    margin-right: 0px;
    gap: 10px;
  
}

.footer-bottom {
    background-color: var(--rosa);
    padding: 10px;
    text-align: center;
    font-size: var(--fs-18);
    color: #000;
    letter-spacing: 0.1em; 
    
}

}  
    
    
    