/*-------------------------*\
 propriedades customizadas
\*-------------------------*/

:root{

--rosa : #B18F8F;
--rosa2 : #E1C7C7;
--amarelo : #C08A01;
--cinza : #847F7F;
--preto : #000000;

/*Tipografia*/

--ff-gidugu: "Gidugu", sans-serif;
--ff-epilogue: "Epilogue", sans-serif;
--ff-gideon-roman: "Gideon Roman", serif;
--ff-inter: "Inter", sans-serif;
--ff-Euphoria_Script: "Euphoria Script", cursive;
--ff-bitter: "Bitter", serif;
--ff-Josefin_Sans: "Josefin Sans", sans-serif;


--fs-40: 4rem;/*4x16 - 16=px*/
    --fs-30: 3rem;
    --fs-24: 2.4rem;
    --fs-18: 1.8rem;
    --fs-14: 1.4rem;
    --fs-12: 1.3rem;

    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;


}

/*reset*/


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
}

a,
img,
span,
data,
input,
button,
textarea,
icon-icon {
    display: block;
}

a {
    color: inherit;

}

a {
    text-decoration: none;
}


img {
    height: auto;
}

input,
select,
textarea {
    background: none;
    border: none;
    font: inherit
}

input,
select,
textarea {
    width: 100%;
}


html {
    font-family: var(--ff-epilogue);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: #1E1E1E;
    font-size: 1.6rem;
    line-height: 2;
   

}


button {
    cursor: pointer;
}



:focus-visible {
    outline-offset: 4px;
}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-track {
    background-color: hsl(0, 4%, 91%);
}

::-webkit-scrollbar-thumb {
    background-color: var(--rosa2);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--rosa);
}

/*-------------------------*\
 HEADER
\*-------------------------*/



.header {
    position: sticky;        
    top: 0;                  
    z-index: 1000;          
    background-color: white;
    transition: all 0.3s ease; 
    box-shadow: none;      
    border-radius: 0px 0px 40px 40px; 
  }


  .header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.1); 
    transition: height 0.3s ease;
  }
  
 
  body:has(main:hover) .header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

 
/*logo*/
nav img{
    width: 130px;
    height: 130px;
    margin-left: 70px;
    
}


.nav-toggle-btn{
    color: #847F7F;
    background-color: transparent;
    display: block;
    font-size: 40px;
    border: none;
    margin-left: 20px;
       
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    font-family: var(--ff-gidugu);
    font-size: var(--fs-24);
    color: #847F7F;
    padding: 15px;
    text-shadow: 2px 2px 4px rgba(75, 75, 75, 0.3);
    
   
}

.navbar-header a{
    color: #847F7F;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    
}

.navbar-header a:focus,
li :hover {
  color: #B18F8F;
}

.navbar-header a:focus:after,
.navbar-header a:hover:after {
  width: 100%;
  left: 0%;
}

.navbar-header a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #B18F8F;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}




.navbar-item{
    gap: 25px;
}


/*-------------------------*\
 BARRA DE PESQUISA
\*-------------------------*/


.pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
  
}



.input-group {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    padding: 8px 16px 8px 8px;
    border-radius: 24px;
    gap: 8px;
    width: 70%;
    height: 40px;
  
   
    
}

/* Ícone do input de pesquisa */
.input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
    border-radius: 100%;
    color:  #1E1E1E;
    cursor: pointer;
}

/* Campo de input de pesquisa */
.input-field {
    width: 100%;
    border: none;
    background-color: transparent;
}


.input-field:focus {
    outline: none;
}

input::placeholder {
    color:  #1E1E1E;
    font-family: var(--ff-epilogue);
}


/*-------------------------*\
 BANNER
\*-------------------------*/




.has-before, 
.has-after {
    border-radius: 0px 0px 40px 40px; 
    position: relative;
    z-index: 1;

    
   
}

.has-before::before,
.has-after::after {
    position: absolute;
    content: '';
    
}


.hero-text {
    color: #fff;
    margin-block: 55px 50px;
    font-family: var(--ff-bitter);
    font-weight: 600;
    text-align: justify;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
    letter-spacing: 0.2em;
    
    
}

/*.hero {
    --section-padding: 100px;
    background-position: left;
    padding-block-start: calc( 80px + 40px);
   
    
} */

.hero-title{
    font-family: var(--ff-gidugu);
    font-size: 6.5rem;
    color: #fff;
    letter-spacing: 0.2em; 
    margin-top: 40px;
    margin-bottom: -45px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    
}

.hero-title2{
    font-family: var(--ff-Euphoria_Script);
    font-size: 8rem ;
    color: var(--rosa);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 0.1em; 
    text-align: center;
    
      
}

.text-title{
    padding-inline: 130px;
    
}

.section {
    padding-block: 15px;
    
}


/*-------------------------*\
 SEÇÃO
\*-------------------------*/

.container-secao {
    width: 100%;
   
    padding: 80px 0;
    align-items: center;
    text-align: center;
    margin: 0 auto;
   
    margin-top: 50px;
}

.secao{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 0 10%;
}


.circle {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}


.circle:hover {
    
    transform: scale(1.05);
    
}

.secao h3 {
    font-family: var(--ff-gideon-roman);
    margin-top: 20px;
}


/*-------------------------*\
 COLEÇÃO DE VERAO
\*-------------------------*/

.section-verao{
    display: flex;
    margin-top: 90px;
    border: none;
    align-items: center;
    justify-content: center;    
    align-items: center;        
    height: 60vh;
     
    
    
}

.section-img-verao img{
    width: 70%;
    margin-left: 80px;

    
}

.decription_verao{
   width: 50%;
   text-align: center;
   
   
}

.text-verao{
    color: #000000;
    font-family: var(--ff-gidugu);
    font-size: 5rem;
    letter-spacing: 0.2em;
    
}

.text-verao2{
    color: var(--rosa);
    font-family: var(--ff-Euphoria_Script);
    font-size: 6rem;
    letter-spacing: 0.1em; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
}




.decription_verao h4{
    margin-top: 5px;
    margin-bottom: 20px;
    color: #000000;
}

.decription_verao p{
    color: #000000;
}

.decription_verao button{
    color: #fff;
    font-family: var(--fs-12);
    padding: 15px 20px;
    width: 20%;
    border-radius: 20px;
    background-color: var(--rosa);
    border: none;
    margin-left: 380px;
    margin-top: 20px;
    animation: button-shimmer 2s infinite;
    transition: all 0.3s ease-in-out;
}

.decription_verao button:hover {

    animation: button-particles 1s ease-in-out infinite;
    transform: translateY(-2px);
  }
  
  
  .decription_verao button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  
  @keyframes button-shimmer {
    0% {
      background-position: left top;
    }
  
    100% {
      background-position: right bottom;
    }
  }
  
  
  @keyframes button-particles {
    0% {
      background-position: left top;
    }
  
    100% {
      background-position: right bottom;
    }
  }


/*-------------------------*\
 DESTAQUES
\*-------------------------*/



.container-destaque {
    text-align: center;
    margin: 20px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .destaques-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 100%; 
  }
  
  .linha {
    flex-grow: 1;
    height: 1px;
    background-color: #000;
    margin-inline: 5%; 
  }
  
  .destaques {
    margin: 0 15px;
    font-family: var(--ff-gideon-roman);
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 3.5rem;
    color: #333;
  }
  
  .subtitulo-destaque {
    font-size: 2rem;
    color: #333;
    margin: 60px 0 40px 0;
    font-family: var(--ff-gideon-roman);
    font-weight: var(--fw-500);
    letter-spacing: 0.1em;
  }
  
  .produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    flex-wrap: wrap; 
    width: 100%;
    margin-top: 20px;
  }
  
  .produto {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    min-height: 300px;
    width: 250px;
    margin: 0 60px; 
  }
  
  .produto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .produto p {
    margin: 5px 0;
    font-size: 1.3rem;
  }
  
  .preco {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .comprar-destaque {
    background-color: #a96b75;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    margin-top: 35px;
    font-family: var(--ff-inter);
    letter-spacing: 0.1em;
    transition: background-color 0.3s ease;
  }
  
  .comprar-destaque:hover {
    background-color: #94555f;
  }
  
  .hr-destaque {
    margin-top: 80px;
    height: 1px;
    background-color: #333;
    border: none;
    width: 100%;
    margin-top: 60px;
  }
  
  .btn-carrosel {
    background-color: transparent;
    width: 50px; 
    height: 50px; 
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0ms;
    margin: 0 15px; 
  }
  
  .btn-carrosel :hover {
    box-shadow: 0px 0px 20px -18px;
  }
  
  .btn-carrosel :active {
    transform: scale(0.95);
  }

/*-------------------------*\
 CADASTRO
\*-------------------------*/


.cadastro-container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 80px; 
    gap: 500px;
   
    
 
}

.cadastro-text{
    font-family: var(--ff-gideon-roman);
    font-size: var(--fs-18);
    color: #000;
    text-align: left;
   
}

.cadastro-buttons{
    display: flex;
    flex-direction: column;
}

.cadastro-buttons h2{
    margin-left: 100px;
    font-family: var(--ff-gidugu);
    font-size: var(--fs-40);
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}


.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
}

.input-register{
    display: flex;
    align-items: center;
    background-color: var(--rosa);
    padding: 8px 16px 8px 8px;
    border-radius: 10px;
    gap: 8px;
    width: 400px;
    height: 40px;
   
    
}


.cadastro input::placeholder {
    letter-spacing: 0.1em; 
    color: #fff;
    font-family: var(--ff-inter);
}


.cadastro-buttons button{
    letter-spacing: 0.1em; 
    display: block;  
    font-family: var(--ff-inter);
    margin: 0 auto; 
    padding: 15px 50px;
    background-color: var(--amarelo);
    color: white;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}


.cadastro-buttons button:hover {
    background-color: #ad7d03;
  }


  .cadastro-buttons button:active {
    background-color: #9e7202;
   
  }


.hr-cadastro{
    margin-top: 80px;
    height: 1px; 
    background-color: #333; 
    border: none; 
    margin-bottom: 35px;
    
}


/*-------------------------*\
 FOOTER
\*-------------------------*/

footer {
    background-color: #D9D9D9;
    color: #333;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 200px;
}

.informacoes, .atendimentos, .redes-sociais {
    width: 30%;
}

.footer-content h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #333;
}

.formas-pagamento {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
}

.pagamentos-text{
    margin-top: 20px;
}

.formas-pagamento{
    padding-left: 180px;
}

.formas-pagamento img {
    margin-left: 20px;
    width: auto;
    height: 40px;
}

.iconis-footer{
    display: flex;
    height: 35px;
    margin-right: 10px;
    gap: 10px;
  
}

.footer-bottom {
    background-color: var(--rosa);
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #000;
    letter-spacing: 0.1em; 
    font-weight: var(--fw-500);
}



.back-top-btn {
    display: none;
}











@media screen and (max-width: 480px) {
    :root{
      --fs-40: 2.5rem;
      --fs-30: 1.8rem;
      --fs-24: 1.5rem;
      --fs-18: 1.0rem;
      --fs-14: 1.0rem;
      --fs-12: 1.0rem;
    }

    nav img{
        width: 120px;
        height: 120px;
        margin-left: 30px;
        
    }


    .navbar-link{
        display: none;
    
    
    }


    .navbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        font-size: var(--fs-30);
        padding: 10px;
       
    }

    .nav-toggle-btn{
        font-size: 30px;
        left: 20px;
        
    }

/*-------------------------*\
 BARRA DE PESQUISA
\*-------------------------*/


    .pesquisa{
        display: flex;
        justify-content: none;
        align-items: none;
        margin-bottom: 20px;
    
    }



    .input-group {
        display: flex;
        align-items: none;
        padding: 6px 12px 6px 6px;
        border-radius: 24px;
        gap: 3px;
        width: 60%;
        height: 35px;
        
    }



/*-------------------------*\
 BANNER
\*-------------------------*/


    .hero-title{
        text-align: center;
        font-size: 3.8rem;
        letter-spacing: 0.2em; 
        margin-bottom: -40px;
        margin-top: 20px;
        margin-left: 0px;
      
        
    }

    .hero-title2{
        
        font-size: 5.5rem ;
        padding-inline: 90px;
        letter-spacing: 0.1em; 
        
        
    }

    .hero-text {
        
        margin-block: 55px 90px;
        font-family: var(--ff-bitter);
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        
        
    }
    

    .text-title{
        text-align: center;
        justify-content: center;
        padding-inline: 40px;
        font-size: 1.4rem;
    }

    .section {
        padding-block: 10px;
        
    }




/*-------------------------*\
 SEÇÃO
\*-------------------------*/


    .container-secao{
        margin-top: 10px;
    }

    .secao {
        margin-left: 110px;
        justify-content: center;   
        gap: 15px;                 
    }

    .secao a {
        width: 45%;                
        text-align: center;        
    }

    .circle {
        width: 90px;              
        height: 90px;
    }

    .circle img {
        width: 90px;              
        height: 90px;
    }

    .secao h3 {
        font-size: 13px;          
    }

    .secao {
        display: grid;             
        grid-template-columns: repeat(2, 1fr);  
        gap: 25px;         
    }


/*-------------------------*\
COLEÇÃO DE VERAO
\*-------------------------*/

    .section-verao{
        
        display: flex;
        margin-top: 30px;
        align-items: center;
        justify-content: center;           
        height: 65vh;
        flex-direction: column-reverse;
        
        
        
    }

    .section-img-verao img{
       display: none;
       
        
        
    }

    .decription_verao{
      
        width: 70%;
        text-align: center;
        padding: 20px;
    
    
    }

    .text-verao{
       
        font-size: 4.2rem;
        
    }

    .text-verao2{
        font-size: 5rem;
        letter-spacing: 0.1em; 
      
        
    }
    

    .decription_verao button{
        
       
        padding: 15px 20px;
        width: 50%;
        margin-left: 75px;
        margin-top: 20px;
        margin-bottom: 30px;
    }




/*-------------------------*\
 DESTAQUES
\*-------------------------*/





.produto_none{
    display: none;
}  

  .destaques-container {
  
    margin: 10px 0;
  }
  
  
  .destaques {
    
    font-size: 2.5rem;
   
  }
  
  .subtitulo-destaque {
    font-size: 1.6rem;
    padding: 10px;
    margin: 40px 0 40px 0;
    letter-spacing: 0.1em;
  }
  
  .produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    flex-wrap: nowrap; 
    width: 100%;
    margin-top: 20px;
    margin-right: 30px;
  }
  
  .produto {
    text-align: center;
    align-items: center;
    flex-direction: column;
    min-height: 300px;
    width: 250px;
    margin: 0 2cqw; 
  }
  
  .produto img {
    max-width: 80%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .produto p {
    margin: 5px 0;
    font-size: 1.3rem;
  }
  
  .comprar-destaque {
    padding: 8px 15px;
    
   
  }
  
  .btn-carrosel {
   
    width: 20px; 
    height: 20px; 
    padding: 0px 0px;
    margin: 0 10px; 
  }

  .hr-destaque{
    display: none;
  }
  
   

/*-------------------------*\
 CADASTRO
\*-------------------------*/


.cadastro-container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    margin-top: 60px; 
    gap: 40px;
    
   
    
 
}

.cadastro-text{
    font-size: 1.6rem;
    padding: 20px;
    text-align: center;
   
}


.cadastro-buttons h2{
    margin-left: 0px;
    font-size: 3.5rem;
    
   
}

.cadastro-buttons img{
    width: 30px;
    
}



.input-register{
    gap: 8px;
    width: 300px;
    height: 30px;
   
   
    
}



.cadastro-buttons button{
    padding: 10px 40px;
    margin-bottom: 50px;
   
}


.hr-cadastro{
    display: none;
}


/*-------------------------*\
 FOOTER
\*-------------------------*/

footer {
    background-color: #D9D9D9;
    color: #333;
 
}


.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    padding-left: 25px;
}

.informacoes, .atendimentos, .redes-sociais {
    width: 30%;
}

.footer-content h3 {
    margin-bottom: 10px;
    font-size: var(--fs-24);
}


.formas-pagamento {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
}

.pagamentos-text{
    margin-top: 15px;
}

.formas-pagamento{

    padding-left: 10px;
}

.formas-pagamento img {
    margin-left: 20px;
    width: auto;
    height: 30px;
}

.iconis-footer{
    display: flex;
    height: 30px;
    margin-right: 0px;
    gap: 10px;
  
}

.footer-bottom {
    background-color: var(--rosa);
    padding: 10px;
    text-align: center;
    font-size: var(--fs-18);
    color: #000;
    letter-spacing: 0.1em; 
    
}



/*-------------------------*\
     BACK TOP BUTTON
\*-------------------------*/
    
    
    

    .back-top-btn {
        display: flex;
        position: fixed;
        bottom: 70px;
        right: 30px;
        background-color: var(--rosa);
        color: #fff;
        font-size: 20px;
        padding: 10px;
        border-radius: 50%;
        z-index: 4;
        transition: all 0.3s ease;
    }
    
    
    .back-top-btn:is(:hover, :focus) {
        color: var(--rosa2);
    }





}







